{%extends 'base.html' %}
{% block titulo %}Principal{% endblock %}
{%block contenido %}
            <ul class="tabnav"> <!--nombre de las columnas -->
                <li><a href="#tabinicio">Acerca de</a></li>
            </ul>
            <div id="tabinicio" class="tabdiv">
                <ul><br>
                  <p><h1>¿Quiénes somos? </h1><br>Actualmente el proyecto
                    se encuentra en fase inicial. El equipo es pequeño
                    y si lo deseas puedes unirte.<br>
                    <a href='contacto'>Envianos</a> tus referencias y puedas colaborar al proyecto.
                  </p><br><br>
                </ul>
             </div>         
{% endblock %}