<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Fanfeando |  {% block titulo%}{% endblock %}</title>
    {% block estilo_css %}{% endblock %}
    <link rel = 'stylesheet' type='text/css' href='/base.css' >
    <link rel = 'stylesheet' type='text/css' href='/tabs.css' >
    <link rel = 'stylesheet' type='text/css' href='/salas.css' >
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script> 

    <script type='text/javascript' src='/tabs.js'></script>
    <script type='text/javascript' src='/jquery-ui-personalized.js'></script>
    {% block js%}{% endblock %}
</head>
<body>
    <div id='contenedor'>
        <div id='slogan'>
            <h1>Fanfeando<h1>
            <p>El que busca encuentra</p>
        </div>
        <div id = 'menu'>
            <div class ='container'>
                <div id='header-menu'>
                    <ul class = 'topnav'>
                        <li><a id = 'inicio' href = '/'>Inicio </a></li>
                        <li><a id = 'acerca' href='/'>Acerca de</a></li>
                        <li><a id = 'contacto' href='/'>Contáctanos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <div class='principal'>
            <div id="tabvani" class="widget">
                {% block contenido %}{% endblock contenido %}
            </div>
        </div>
        <div class = 'footer'>
            &copy; 2012 Fanfeando. <a id='priv' href='/'>Privacidad</a> | 
            <a id='terminos' href ='/'>Terminos de uso</a>
        </div>
    </div>
</body>
</html>