<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Fanfeando |  {% block titulo%}{% endblock %}</title>
    {% block estilo_css %}{% endblock %}
    <link rel = 'stylesheet' type='text/css' href='/base.css' >
    <link rel = 'stylesheet' type='text/css' href='/tabs.css' >
    <link rel = 'stylesheet' type='text/css' href='/salas.css' >
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script> 
    <script type='text/javascript' src='/tabs.js'></script>
    <script type='text/javascript' src='/jquery-ui-personalized.js'></script>
    <script type="text/javascript">
    $(document).ready(function(){
        /*$("#acerca").click(function(){
            $("#tabvani").fadeOut("slow", function(){
                $("#tabvani").html("");
                $("#tabvani").fadeIn("slow", function(){
                    var href = 'acerca';
                    $("body").load(href);    
                });
            });
        });
        $("#contacto").click(function(){
            $("#tabvani").fadeOut("slow", function(){
                $("#tabvani").fadeIn("slow", function(){
                    var href = 'contacto';
                    $("body").load(href);
                });
            });
        });
        $("#salas").click(function(){
            $("#tabvani").fadeOut("slow", function(){
                $("#tabvani").fadeIn("slow", function(){
                    var href = 'chat';
                    $("body").load(href);   
                });
            });
        });*/
        $("#acerca").click(function(){
            $("#indexDes").fadeOut("slow", function(){
                $("#salasDes").fadeOut("slow", function(){
                    $("#contactoDes").fadeOut("slow", function(){
                        $("#acercaDes").fadeIn("slow");
                    });
                });
            });
        });

        $("#contacto").click(function(){
            $("#indexDes").fadeOut("slow", function(){
                $("#salasDes").fadeOut("slow", function(){
                    $("#acercaDes").fadeOut("slow", function(){
                        $("#contactoDes").fadeIn("slow");
                        var usu = document.getElementById("nombre"); 
                        usu.focus(); 
                    });
                });
            });
        });

        $("#salas").click(function(){
            $("#indexDes").fadeOut("slow", function(){
                $("#contactoDes").fadeOut("slow", function(){
                    $("#acercaDes").fadeOut("slow", function(){
                        $("#salasDes").fadeIn("slow");
                        var usu = document.getElementById("usuario"); 
                        usu.focus(); 
                    });
                });
            });
        });
    });
    </script>
    {% block js%}{% endblock %}
</head>
<body>
    <div id='contenedor'>
        <div id='slogan'>
            <h1>Fanfeando<h1>
            <p>El que busca encuentra</p>
        </div>
        <div id = 'menu'>
            <div class ='container'>
                <div id='header-menu'>
                    <ul class = 'topnav'>
                        <li><a id = 'inicio' href = '/'>Inicio </a></li>
                        <li><a id = 'salas' href='#'>
                            Salas</a></li>
                        <li><a id = 'acerca' href='#'>Acerca de</a></li>
                        <li><a id = 'contacto' href='#'>Contáctanos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <div id='principal' class='principal'>
            <div id="tabvani" class="widget">
                {% block contenido %}
                {% endblock contenido %}
            </div>
        </div>
        <div class = 'footer'>
            &copy; 2012 Fanfeando | Hecho con <font color='#FA5858' size='3px'>♥</font> desde México.
        </div>
    </div>
</body>
</html>