{%extends 'base.html' %}
{% block titulo %}Principal{% endblock %}
{% block js %}
    <script type='text/javascript'>
        function focusIt(){
          var usu = document.getElementById("nombre"); 
          usu.focus(); 
        }
        onload = focusIt;
        focusIt();
    </script>
{% endblock %}
{%block contenido %}
<div id = 'contactoDes' >
            <ul class="tabnav"> <!--nombre de las columnas -->
                <li><a href="#tabinicio">Contácto</a></li>
            </ul>
            <div id="tabinicio" class="tabdiv">
                <ul><br>
                  <p><h1>Contáctanos </h1>
                    <br>
                    {% if info_enviado %}
                      Gracias por contáctarnos, nos comunicaremos contigo
                      en breve.
                    {% else %}
                      <br>Puedes enviarnos un mail para
                      diversos aspectos, sugerencias, recomendaciones.
                      <br><br>
                      <div class='formulario'>
                        <form action='contacto' method='post'>
                          <label>Nombre:</label> <input type='text' name = 'nombre' id='nombre' size='30' /><br>
                          <label>E-mail:</label> <input type='text' name='email' id='email' size='30' /><br>
                          <label>Web:</label> <input type='text' name='web' id='web' size='30'/><br>
                          <label>Asunto:</label> <input type='text' name='asunto' id='asunto' size='30'/><br>
                          <label>Mensaje:</label> 
                          <textarea  tabindex="1" rows='6' cols='50' id='mensaje' name='mensaje'></textarea>
                          <br><br>
                            <input type='submit' class='button' value='Enviar'>
                          </form>
                      </div>
                    {% endif %}
                  </p><br><br>
                </ul>
             </div>         
</div>
<div id = 'salasDes' style='display:none;'>
<ul class="tabnav"> <!--nombre de las columnas -->
                <li><a href="#registro">Registro</a></li>
        </ul>
        <div id ='registro' class = 'tabdiv'>
            <div id='formAjax'> 
                <ul><br>
                <h1>Introduce tu nombre de usuario para entrar a la sala.</h1><br><br>
                <form class='formulario' method="post" action="ingresar/">
                    <div><label>Usuario: </label>
                        <input type="text" name="usuario" id="usuario" value='' size='15'/>
                    </div>
                    <div style='text-align:right;' >
                        <input type="submit" class='button' name="connect" id = 'connect' value="Enviar" />
                    </div>
                </form>
                </ul>
            </div>
    </div>
</div>
<div id = 'acercaDes' style='display:none;'>
  <ul class="tabnav"> <!--nombre de las columnas -->
                <li><a href="#tabinicio">Acerca de</a></li>
            </ul>
            <div id="tabinicio" class="tabdiv">
                <ul><br>
                  <p><h1>¿Quiénes somos? </h1><br>Actualmente el proyecto
                    se encuentra en fase inicial. El equipo es pequeño
                    y si lo deseas puedes unirte.<br>
                    <a href='contacto'>Envianos</a> tus referencias y puedas colaborar al proyecto.
                  </p><br><br>
                </ul>
             </div>         
</div>
<div id = 'indexDes' style='display:none;'>
                <ul class="tabnav">
                <li><a href="#tabinicio">Inicio</a></li>
            </ul>
            <div id="tabinicio" class="tabdiv">
                <ul><br>
                  <p><h1>¡Bienvenido a Fanfeando!</h1><br>Podras chatear viendo sus rostros en vivo. Actualmente solo es una ruleta pronto habran nuevas mejoras!.
                  </p><br>
                  <h1>Conoce</h1><br>
                  Encuentra gente nueva con tus mismos intereses.
                  <br><br><br>
                </ul>
             </div>         
</div>
{% endblock %}