{%extends 'base.html' %}
{% block titulo %}Principal{% endblock %}
{%block contenido %}
                <ul class="tabnav">
                <li><a href="#tabinicio">Inicio</a></li>
                <!--<li><a href="#tabsalas">Salas</a></li>-->
                <!--<div class='sesion-usuario'>
                </div>-->
            </ul>
            <div id="tabinicio" class="tabdiv">
                <ul><br>
                  <p><h1>¡Bienvenido a Fanfeando!</h1><br>Podras chatear viendo sus rostros en vivo. Actualmente solo es una ruleta pronto habran nuevas mejoras!.
                  </p><br>
                  <h1>Conoce</h1><br>
                  Encuentra gente nueva con tus mismos intereses.
                  <br><br><br>
                </ul>
             </div>         
            <!--<div id="tabsalas" class="tabdiv">
                    <ul><br>
                      <h1>Salas </h1>
                        <p>Selecciona alguna de la salas disponibles.</p>
                        <div id = 'contenedor-salas'>
                          <div id = 'caja-sala'>
                              <div id = 'caja-sala-interna'>
                              <p>Imagen de la caja se pretende sea una soncronizacion de todos los que estana actualmente</p>
                              </div>
                              <a href='{% url chat.views.index %} '> 
                                <h1>Sala libre</h1>
                              </a>
                              <p>Navega con gente de diversos estilos.</p>
                          </div>
                      </div>
                    </ul>
             </div>-->
  {% endblock %}
  