/*Proyecto: Fanfeando*/
@font-face{
	font-family: "commersial_script";
	src: url(commersial_script.ttf);
}
body {
    font: 13px Verdana, Arial, Helvetica, sans-serif;
    background-color:#FAFAFA;
    text-align: justify;
    color: #585858;
}

a {
    color:#FA8258;
}
a:link {
    color:#FA8258;
}
a:visited {
    color:#FA8258;
}
a:hover {
    color:#FA8258;
}
a:active {
    color:#FA8258;
}

#contenedor{
    float: center;
    background-color: #ffffff;
    background: url(../head.gif) repeat-x;
    width: auto;
    height: auto;
    margin: -30px -8px -8px -10px;
}
.principal
{
    width:auto;
    height:auto;
    background-color:#FAFAFA;
    margin:0px 100px 10px 100px;
    float:center;
    padding:5px;
    line-height: 160%;
}
.principal h1{
    font-size: 19px;
    color: #2E2E2E;
}
.sesion-usuario{
    /*padding:0px 0px 0px 1000px;*/
    text-align: right;
    /*float:right;*/
    margin: 0px 60px 0px 0px;
    font-weight: bold;
}
/*Enzabezado*/
#slogan{
    font-family: "commersial_script";
    float:center;
    margin: 30px 100px 100 px 130px;
    height: 80px;
    width: auto;
}
#slogan p 
{ 
    padding: 2px 0 0 4px; 
    font: bold 90% monospace;
    font-size: 13px; 
    color: #BDBDBD; 
}
#slogan h1{
    padding: 10px 0 0 4px;
    font-size: 54px;
    margin: 0;
    text-shadow: 1px 1px 1px #000;
    color: #F79F81;
}
/*Menu del encabezado*/
#menu{
    width: auto;
    height: auto;
    margin: -70px 0px 0px 800px;
}
#menu .container{
    width:auto;
    float:right;
}
#menu #header .disclaimer {
    text-align: right;
    position: absolute;
    top: 0; right: 0;
}
#menu #header .disclaimer a { color: #ccc;}
#menu ul.topnav { 
    list-style: none;
    padding: 0 20px;    
    margin: 0;
    width: auto; /*Medidor del menu*/
    background: #222;
    font-size: 11.5px; /*Letra del menu principal*/
    background: repeat-x;
}
#menu ul.topnav li {
    float: left;
    margin: 0;  
    padding: 0 15px 0 0;
    position: relative; 
}
#menu ul.topnav li a{
    padding: 10px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}
#menu ul.topnav li a:hover{/*Al poner el mouse en elmenu se hace verde muy verde*/
    color:#FA8258;
    background: no-repeat center top;
}

/*Control de los input*/
.formulario label{
    display: block;
    font-weight: bold;    
}
.formulario div{
    margin-bottom: 1px;
}
.formulario input[type='text'], .formulario input[type='password'], .formulario textarea {
    padding: 3px 6px;
    width: auto;
    border: 1px solid #F2FBEF;
    resize: none;
    box-shadow: 0 0 0 3px #FBF2EF;
    margin: 5px 0;
}
.formulario input[type='text']:focus, .formulario input[type='password']:focus, .formulario textarea:focus{
    outline: none;
    box-shadow: 0 0 0 3px #F6CECE;
}

.button {
   border-top: 1px solid #ffffff;
   background: #debaba;
   background: -webkit-gradient(linear, left top, left bottom, from(#ccbcb7), to(#debaba));
   background: -webkit-linear-gradient(top, #ccbcb7, #debaba);
   background: -moz-linear-gradient(top, #ccbcb7, #debaba);
   background: -ms-linear-gradient(top, #ccbcb7, #debaba);
   background: -o-linear-gradient(top, #ccbcb7, #debaba);
   padding: 3px 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #d49f9f;
   background: #d49f9f;
   color: #000000;
   }
.button:active {
   border-top-color: #db724c;
   background: #db724c;
   }

.footer
{
    width:auto;
    height:20px;
    text-align:center;
}
